.container {
  width: 10%;
  background-color: transparent; /* Grey background */
}


/* Desde aca codigo Menu*/
.MenuPrincipal{
  top:0%;
  position: absolute;
  width: 100%;
  text-align: right;
  background: dimgray;
  z-index: -1;
  display: table;
  display: table;
  right: 0%;
  height: 10%;

}


.MenuPrincipal:after, .MenuPrincipal:before {
  content: "";
}


body {
  font-family: 'Sintony', sans-serif;
  color: #e5e5e5;
  font-size: 12px;
  background: #bfbfbf;
  line-height: 1;
}
*, *:before, *:after {
  box-sizing: border-box;
}
/** * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header h2 {
  margin: 25px 10px;
  font-size: 28px;
  text-align: center;
  color: cornsilk;
}

nav.menu {
  background: #ea7624;
  position: relative;
  min-height: 60px;
  height: 100%;
}

.menu > ul > li {
  list-style: none;
  display: inline-block;
  color: #fff;
  line-height: 45px;

}
.menu > a {
  font-size: 1.7em;
}
.menu > ul li a, .xs-menu li a {
  text-decoration: none;
  color: #fff;
  display:block;
  padding: 0px 35px;
}
.menu > ul li a:hover {
  background:#009ba4;
  color: #fff;
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.active{
  background:#f7be29 !important;

}
.displaynone{
  display: none;
}
.xs-menu-cont{
  display:none;
}
.xs-menu-cont > a {
  background: none repeat scroll 0 0 #ea7624;
  border-radius: 3px;
  padding: 3px 6px;
  display: block;
  border-bottom:1px solid #ea7624;
  box-shadow: 0 1px 2px #ea7624;
  -webkit-box-shadow: 0 1px 2px #ea7624;
  -moz-box-shadow: 0 1px 2px #ea7624;
}
.xs-menu-cont > ul li a:hover{
  cursor: pointer;
  background-color:#6679e9;
}

.xs-menu li {
  color: #fff;
  padding: 14px 30px;
  border-bottom: 1px solid #ccc;
  background: #ea7624;

}
.xs-menu  a{
  text-decoration:none;
}

#menutoggle i {
  color: #fff;
  font-size: 33px;
  margin: 0;
  padding: 0;
}

.responsive-img {
  display: block;
  max-width: 100%;

}

.left-categories-list {
  float: left;
}

.display-on{
  display:block;
  transition-duration: 0.9s;
}
.drop-down > a:after{
  content:"\f103";
  color:#fff;
  font-family: FontAwesome;
  font-style: normal;
  margin-left: 5px;


}
/*MediaQuerys*/
@media (max-width: 600px) {
  .menu {
    display:none;
  }
  .xs-menu li a {

    padding:0px;
  }
  .xs-menu-cont{
    display:block ;
  }
}

/* Hasta aca codigo Menu*/


.logoPrincipal{
  -webkit-animation: fondoPrincipal 8s ease-in-out 1;
  animation: fondoPrincipal 8s ease-in-out 1;
  opacity: 1;
  z-index: 3;
}

@-webkit-keyframes fondoPrincipal {
  0%,
  0.001% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper{
  top: 0%;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  z-index: -3;
}

.carousel{
  overflow:hidden;
  width:100%;
}
.slides{
  list-style:none;
  position:relative;
  width:512%; /* Number of panes * 100% */
  overflow:hidden; /* Clear floats */
  /* Slide effect Animations*/
  -moz-animation:carousel 32s infinite;
  -webkit-animation:carousel 32s infinite;
  animation:carousel 32s infinite;
}
.slides > li{
  position:relative;
  float:left;
  width: 20%; /* 100 / number of panes */
}
.carousel img{
  display:block;
  width:100%;
  max-width:100%;
  background-size: contain;
}
.carousel h2{
  margin-bottom: 0;
  font-size:1em;
  padding:1.5em 0.5em 1.5em 0.5em;
  position:absolute;
  right:0px;
  bottom:0px;
  left:0px;
  text-align:center;
  color:#fff;
  background-color:rgba(0,0,0,0.75);
  text-transform: uppercase;
}

@keyframes carousel{
  0%    { left:-0%; }
  11%   { left:-0%; }
  12.5% { left:-105%; }
  23.5% { left:-105%; }
  25%   { left:-205%; }
  36%   { left:-205%; }
  37.5% { left:-310%; }
  48.5% { left:-310%; }
  50%   { left:-410%; }
  61%   { left:-410%; }
  62.5% { left:-310%; }
  73.5% { left:-310%; }
  75%   { left:-205%; }
  86%   { left:-205%; }
  87.5% { left:-105%; }
  98.5% { left:-105%; }
  100%  { left:-5%; }
}











