

<div class="container">
  <div class="logoPrincipal" style="right: 50%">
    <object   >
      <embed src="../../assets/logoMakaluNormal.svg" width="120%" height="120%"  >
    </object>

  </div>

  <div  class="MenuPrincipal">

    <div class="xs-menu-cont" >
      <a id="menutoggle"    ><i class="fa fa-align-justify"></i> </a>
      <nav class="xs-menu displaynone" >
        <ul  >
          <li   >
            <a routerLink="/home">Inicio</a>
          </li>
          <li  >
            <a >Productos</a>
          </li>
          <li >
            <a >Ubicacion</a>
          </li>
          <li  >
            <a >Domicilios</a>
          </li>
          <li  >
            <a >Sobre nosotros</a>
          </li>

        </ul>
      </nav>
    </div>
    <nav class="menu">
      <ul>
        <li class="active">
          <a style="font-size: 1.4em;" routerLink="/home">Inicio</a>
        </li>
        <li>
          <a style="font-size: 1.4em;" href="#">Productos</a>
        </li>
        <li>
          <a style="font-size: 1.4em;">Ubicacion</a>
        </li>
        <li>
          <a style="font-size: 1.4em;">Domicilios</a>

        </li>
        <li>
          <a style="font-size: 1.4em;">Sobre nosotros</a>
        </li>


      </ul>
    </nav>

  </div>
</div>
<div class="wrapper">
  <div class="carousel">

    <ul class="slides">

      <li *ngFor="let image of IMAGESs">
        <h2>{{image.title}}</h2>
        <img style="width: 100%;height: 100%;"  src="{{image.url}}" alt="">
      </li>

    </ul>

  </div>
</div>

<router-outlet></router-outlet>









